#skills{
    overflow: hidden;
    width: 90vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: rgb(230, 255, 5);
    border-radius: 3%;
    
}
.skill-text{
    color: black;
    justify-content: center;
}
.skillTitle{
    font-size: 3rem;
    font-weight: 900;
    padding-top: -6rem;
    margin-bottom: 2rem;
    color: white;
    
    
}
.skillDescription{
    font-weight: black;
    font-size: large;
    max-width: 60rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
    

}
.skillBars{
    margin: 1.2rem;
    max-width: 80%;
    text-align: left;
    width: 100vw;
    border-radius: 0.3rem;
}
.skillBar{
display: flex;
margin: 1.4rem;
padding: 1.5rem, 2rem;
border-radius: 0.4rem;
background: rgb(50,50,50);
padding-top: 1rem;
padding-bottom: 2rem;
}
.skillBarImg{
    height: 5rem;
    width: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    object-fit: cover;
    padding-top: 1rem;
}
.skillBar h2{
    color: whitesmoke;
    padding-bottom: 0.6rem;
    justify-content: center;
    text-shadow: 1px 1px yellow;
}
.skillBarText>p{
    font-weight: 300;
    font-size: 1.2rem;
}
