
.navbar{
    height: 10rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}
.logo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;

}
.desktopMenuListItem{
    margin: 1rem;
    cursor:pointer;
    

}