
.navbar{
    height: 10rem;
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;

}
.logo{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor:pointer;
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    border-radius: 2rem;
    padding: 0 1rem;
}