#work{
    min-width: calc(100vh-4rem);
    max-width: 70rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.workTitle{
    margin: 1rem 0;
    font-size: 3rem;
    padding-left: 30rem;
    padding-top: 3rem;
    color: yellow;
}
.workParag{
    font-size: large;
    padding: 0rem 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.workImages{
    display: flex;
    align-items: right;
    max-width: 85rem;
    width: 100vw;
    justify-content: center;
   text-wrap: wrap;
   padding-top: 2rem;
}
.workImg{
    object-fit: cover;
    margin: 0.8rem;
    height: 20rem;
}
.worksBtn{
    padding: 1rem, 3rem;
    border: none;
    margin: 3rem 35rem;
    background-color: yellow;
    font-size: 1rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width:585px) {
    .workImg{
        height: 45vw;
    }
}