#work{
    min-width: calc(100vh-4rem);
    max-width: 70rem;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}
.workTitle{
    margin: 1rem 0;
    font-size: 3rem;
    padding-left: 30rem;
}
.workDescription{
    font-weight: 300;
    font-size: 1rem;
    justify-content: center;
    padding-left: 39vh;
}
.workImages{
    display: flex;
    align-items: right;
    max-width: 85rem;
    width: 100vw;
    justify-content: center;
   
}
.workImg{
    object-fit: cover;
    margin: 0.8rem;
    height: 20rem;
    flex-wrap: wrap;
}