#intro{
    height: calc(100vh -4rem);
    width: 130vh;
    max-width: 75rem;
    margin: 0;
    overflow: hidden;
}
.bg{
    position: absolute;
    top: 15rem;
    right: 0;
    z-index: -3;
    object-fit: cover;
    height: 80vh;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.introContent{
    height: 100vh;
    width: 150vh;
    padding: 5rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1vh;
}
.introName{
    color: yellow;
}
.introParag{
    font-size: 1.3rem;
    font-weight: 300;
    padding-top: 2vh;
    padding-left: 1vh;
    padding: -1rem;
    letter-spacing: 1px;
}
.btn{
    background: white;
    color: black;
    margin: -0.1rem ;
    padding: 1rem 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 19rem;
    border-radius: 3rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    border: none;
    min-height:30px; 
    min-width: 120px;
    
}
.btn :hover{
    color:yellow;
      transition: 3s;
      
}
.btn :active{
    background-color: #ffbf00;
    cursor: pointer;
}