#intro{
    height: calc(100vh -4rem);
    width: 130vh;
    max-width: 75rem;
    margin: 0;
    overflow: hidden;
}
.bg{
    position: absolute;
    top: 11rem;
    right: 0;
    z-index: -2;
    object-fit: cover;
    height: 100vh;
}
.introContent{
    height: 100vh;
    width: 150vh;
    padding: 8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1vh;
}
.introName{
    color: yellow;
}
.introParag{
    font-size:medium;
    font-weight: 400;
    padding-top: 1vh;
    padding-left: 1vh;
    padding: -1rem;
    letter-spacing: 1px;
}
.btn{
    background: white;
    margin: 1.rem ;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    border: none;
    padding-right: 2vh;
    padding-left: 3vh;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;

}