

.footer {
    background-color: yellow;
    color: black;
    padding: 20px 0;
  }
  
  .footer p {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  
.social-icons {
    list-style: none;
    padding: 0;
    text-align: center;
  } 
  
  .social-icons li {
    padding-bottom: 1.7rem;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;

  }
  
  .link {
    height: 52px;
    width: 52px;
    flex-wrap: wrap;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change to your desired hover color */
  }
  