#contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}
.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: yellow;
}
.contactPageParag{
    font-size: 1.3rem;
}
.clientDescription{
    font-size: 1.3rem;
    font-weight: 100;
    padding-bottom: 3%;
    text-wrap: wrap;
}
.clientImages{
    margin: 1rem 0;
    display: flex;
}
.clientImage{
    object-fit: cover;
    width: 30%;
    margin: auto;
    padding: 1.28rem;
    min-width: 7rem;
    
}
#clients{
    padding: 5rem;
}
.contactDescription{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 60rem;
}
.name, .email, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.9rem;
    color: white;
    border: none;
    background: rgb(50,50,50) ;
    border-radius: 0.5rem;
    padding: 1.8rem 1rem;
}
.socialLinks{
    display: flex;
    flex-wrap: wrap;
    
}
.submitBtn{
    background: white;
    border: none;
    margin: 2rem;
    padding: 0.8rem 3rem;
    border-radius: 1rem;
}
.link{
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    margin: 0.8 1.8rem;
}